.slideshow-player{

position:fixed;

left:0;

top:0;

width:100vw;

height:100vh;

background:#000;

display:flex;

justify-content:center;

align-items:center;

z-index:999999;

}

.slideshow-slide{

width:1280px;

height:720px;

background:white;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

font-family:Arial;

}